.testimonials-section {
    background-color: #fefefe; // Deep gold
    color: rgb(37, 37, 37);
    padding: 4rem 0;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5;
  
    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 2rem;
      color: #1f1f1f; // Slightly off-white for contrast
    }
  
    .testimonial-card {
      background-color: #424242; // Lighter gold
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;
  
      p {
        margin: 0;
        color: #ffffff; // White text for readability
        &:last-of-type {
          font-size: 1.1rem;
          color: #fabb00; // Slightly lighter shade for the attribution
          margin-top: 0.5rem;
        }
      }
    }
  }

  .newsletter-section {
    background-color: #f0f0f0; // Darker gold
    color: #1f1f1f;
    padding: 4rem 2rem;
    text-align: center;
    margin-left: 10;
    margin-right: 10;
    margin-top: 5;
  
    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
  
    p {
      margin-bottom: 2rem;
      font-size: 1.1rem;
      color: #1f1f1f; // Slightly off-white
    }
  
    form {
      display: flex;
      justify-content: center;
      align-items: center;
  
      input[type="email"] {
        padding: 0.75rem;
        border: none;
        border-radius: 0.5rem 0 0 0.5rem;
        flex: 1;
        max-width: 300px;
        font-size: 1rem;
        color: #a9822d; // Text color matching the section
      }
  
      button {
        background-color: #cb9500; // Deep gold
        border: none;
        border-radius: 0 0.5rem 0.5rem 0;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        color: #fff; // White text
        cursor: pointer;
  
        &:hover {
          background-color: #fabb00; // Slightly lighter gold on hover
        }
      }
    }
  }
  
  .footer {
    background-color: #ffffff; // White
    color: white;
    text-align: center;
    padding: 1rem 0;
  
    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 300;
      color: #2d2d2d; // Grey
    }
  }
  
  .contact-details, .customer-service, .follow-us {
    margin: 20px 0;
  }
  
  .contact-details a, .follow-us a {
    color: #d4af37; // Deep gold to match your site's theme
    text-decoration: none;
  }
  
  .contact-details a:hover, .follow-us a:hover {
    text-decoration: underline;
  }
  